@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
	
}

// ≥992px
@include media-breakpoint-down(md) {

}

// ≥768px
@include media-breakpoint-down(sm) {

}

// ≥576px
@include media-breakpoint-down(xs) {
	.top-menu{
		flex-direction: column;
		font-size: 1.2rem;
		line-height: 1.2rem;
		.menu-side{
			margin-left: 0;
			.top-menu-holder{
				.share{
					&>ul{
						left: 0;
						right: auto;
						a{
							font-size: 1rem;
							.fa{
								width: 2rem;
								height: 2rem;
							}
						}
					}
				}
			}
		}
	}
}

/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {
}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
